@using Irudd.Todo.Data
@using Irudd.Todo.Components
@inject TodoService todoService

@code {
    [Parameter]
    public Irudd.Todo.Data.TodoItem Item { get; set; }

    [Parameter]
    public Irudd.Todo.Data.TodoCategory Category { get; set; }    

    private void ToggleDone()
    {
        Item.IsDone = !Item.IsDone;
    }

    private async Task ChangeToCategory() 
    {
        await todoService.ConvertItemToCategory(Category.Text, Item.Text);
        todoService.CallRequestRefresh();
    }
}
<div @onclick="ToggleDone" class="alert alert-secondary @(Item.IsDone ? "done-todo-item" : "")">@Item.Text <span class="to-category"><i @onclick="ChangeToCategory" class="fa fa-arrow-circle-o-left pull-right"></i></span></div>
