@page "/"
@namespace Irudd.Todo.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>irudd-todo</title>
    <base href="~/" />
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sketchy/bootstrap.min.css" rel="stylesheet" integrity="sha384-N8DsABZCqc1XWbg/bAlIDk7AS/yNzT5fcKzg/TwfmTuUqZhGquVmpb5VvfmLcMzp" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>
    <script src="_content/Microsoft.AspNetCore.ProtectedBrowserStorage/protectedBrowserStorage.js"></script>
    <script src="_framework/blazor.server.js"></script>

    <script>
        //TODO: Blazor 3.1 is supposed to have a native solution to this. https://github.com/aspnet/AspNetCore/pull/14509
        document.addEventListener('click', function(e){
            if(e.target && e.target.classList && e.target.classList.contains('prevent-default')) {
                e.preventDefault()
            }
        })

        document.querySelector('body').addEventListener('submit', function(e){
            if(e.target && e.target.classList && e.target.classList.contains('prevent-default')) {
                e.preventDefault()
            }
        })
    </script>
</body>
</html>
